<launch>

  <!-- Kinect node
  <arg name="camera" default="camera"/>
  <arg name="depth_registration" value="true"/>
 -->
    <include file="$(find openni_launch)/launch/openni.launch">

    </include>

  <!-- Kinect cloud to laser scan-->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <remap from="image"     to="/camera/depth/image_raw"/>
      <remap from="camera_info" to="/camera/depth/camera_info"/>
      <remap from="scan" to="/scan"/>

      <param name="range_max" type="double" value="10"/>
      <param name="output_frame_id" value="camera_link"/>
  </node>

    </launch>
